body{
	font-family: "Georgia";
	font-size: 16px;
	background-color:#f0f8ff ;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	max-width: 100%;
}

h1{
	color: #c20017;
	font-style: italic;
	font-variant: small-caps;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	border-bottom: 3px solid #003366;

}

p{
	padding-top: 1px;
	padding-bottom: 1px;
	border-left: 1px;
	border-bottom: 1px  ;
	border-right: 1px  ;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 8px;
	margin-right: 8px;
}
.header{
	font-style: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

.byline{
	font-style: italic;
	text-align: left;
	color: #003366;
}
.chart{
	margin-right: 50px;
	margin-left: 50px;
}
